tr {
  border-bottom: 1px solid #ccc;
}

th,
td {
  /* //border: 1px solid; */
  text-align: left;
  padding: 8px 10px;
  max-width: 10px;
}

.inventory {
  align-items: center;
  justify-content: center;
}

table {
  font-family: sans-serif;
  border-collapse: collapse;
  border: 1px solid #ccc;
  margin-left: 25px;
  margin-top: 5px;
  max-width: 90%; /* Set a minimum width to trigger scrolling */
  table-layout: auto; /* Let the table resize its columns based on content */
  background-color: #fff;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  max-width: 50%;
  /* align-items: center; */
}
.editButton {
  background-color: green;
  margin: 5px;
}
.deleteButton {
  background-color: red;
  margin: 5px;
}
.addButton {
  margin-left: 25px;
}
.modal {
  display: block !important; /* Make sure it's displayed */
  background-color: rgba(0, 0, 0, 0.7);
  text-align: center;
  padding: 0;
  z-index: 9999; /* Make sure it's on top of other elements */
}
.modal-content {
  text-align: center;
  background-color: white; /* White background for the form */
  padding: 20px; /* Padding around the form */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional shadow around the form */
  max-width: 50%;
}
